/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.27.8/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/CMakeLists.txt
/.idea/.gitignore
/cmake-build-debug/CMakeFiles/3.27.8/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.27.8/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/.idea/FlitaHW1.iml
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/.idea/vcs.xml
